/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: #ffffff;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: #006653;
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: #009579;
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}

.head{
    display: flex;
    background-color:white;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
    padding: 20px;
}

.head h3{
    font-size: 28px;
    margin-left: 100px;
   color:  #009579;
}

.hell{
    margin-top: 30px;
    margin-left: 120px;
}

.hell h6{
    font-size: 24px;
    font-weight: 400;
}

.box{
    
    margin-top: 70px;
    margin-left: 470px;
    /* border: 1px solid black; */
    width: 600px;
    height: 350px;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
    border-radius: 10px;
}

.box h5{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.box button{
  cursor: pointer;
  margin-top: 20px;
  height: 30px;
  width: 100px;
  margin-left: 20px;
  background-color: #009579;
  color: white;
  border: none;
  border-radius: 6px;
}
.hl{
  display: flex;
  justify-content: center;
}
hr {
  border: none;
  border-top: 1px solid #d9d9d9;
  margin: 10px 10px; 
  width: 84%;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}


#quizWindow ul li{
    margin-top: 10px;
    list-style: none;
} 


.box ul li {
   margin-top: 100px;
   margin-left: 20px;
}


.resultSec {
  display: none;
  text-align: center;
}

.failed {
  color: red;
}

.passed {
  color: green;
}
